
body{
    line-height: 1.2;
    margin: 2px;
    background-color:tan;
}
nav{
    background-color:coral;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    color: white;

}
.header{
    text-align: center;
    font-size: 25px;
    color: purple;
    text-underline-position: below;
}

.book-form{
    margin-left: 30%;
}


.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

input[type="text"]{
    font-size: 15px;
    width: 390px;
    min-width:100px;
    padding: 5px;
    border-radius: 7px;
}

.label{
    font-size: 20px;
    color: rgb(156, 12, 12);
    margin-left: 35%;
}

.add-button{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color:olivedrab;
    padding: 10px 50px;
    display: block;
    margin: 5px;
    margin-left: 20%;
}

.add-button:hover{
    background-color: darkorange;
}


.search-button{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color:olivedrab;
    padding: 10px 50px;
    display: block;
    margin: 5px;
    margin-left: 20%;
}

.search-button:hover{
    background-color: darkorange;
}
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* ********************home.html********************** */





table,th,td{
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(156, 12, 12);
}

.tab{
    margin-left: 20%;
    margin-right: 5%;
}

/* Style the search box */
#search1,search2{
    width: 40%;
    align-content: left;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(228, 90, 90);
  }

  #list{
      color:black;
      background-color: aquamarine;
      padding: 10px 10px;
      font-size: 15px;
  }

table{
    background-color:rgb(238, 255, 0);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(156, 12, 12);
}
