$deepBlue : #032f3e;
$tanLight : rgb(243, 189, 89);
$coralDeep : rgb(241, 105, 56);
$purpleDeep :rgb(161, 15, 161);
$myYellow: rgba(255, 255, 6, 0.986);
$pinkLight: rgb(243, 160, 174);
$offWhite: white;
$list: aquamarine;

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 22px;
$myWidth: 680px;
